/* background color */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(232, 200, 200);
    font-family: 'Nanum Myeongjo', sans-serif;
}
/* background image */
.parth {
    position: absolute;
    margin: auto;
    margin-top: 40px;
    padding: 0px;
    top: 27%;
    left: 52%;
    transform: translate(-50%, -45%);
    width: 314px;
    height: 434px;
    background: #0e0e0e;
    overflow: hidden;
    
}

.parth .img {
    position: relative;
    overflow: hidden;
}
/* editing headings */
.heading {
    position: absolute;
    margin-top: auto;
    padding: 20px;
    width: 100%;
    height: 120%;
    bottom: -217.5px;
    box-sizing: border-box;
    text-align: center;
    color: aliceblue;
}

.heading h1 {
    font-size: 6px;
    color: rgb(189, 148, 12);
    letter-spacing: 4px;
}

.heading h2 {
    font-size: 40px;
    color: rgb(189, 148, 12);
    letter-spacing: 4px;
    margin-top: -12px;
}

.heading h2 span {
    font-size: 50px;
}
.heading h3{
    margin-top: -35px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #b39803;
    font-weight: 800;
}
.heading h4 {
    font-size: 6px;
    margin-top: -6px;
    margin-left: 208px;
    color: #b39803;
    letter-spacing: 1px;
    font-family: sans-serif;
}
.heading h5{
    font-size: 5px;
    margin-top: -6px;
    margin-left: 120px;
    color: #b39803;
    letter-spacing: 1px;
}
.heading h6 {
    font-size: 12px;
    margin-top: -18px;
    margin-left: 183px;
    color: #b39803;
    letter-spacing: 1px;
}
.heading h6 span{
    font-size: 15px;
}
/* botttom part */
ul{
    list-style: none;
}
.seclast {
    margin-top: 254px;
    font-size: 6px;
    color: #b39803;
    letter-spacing: 1px;
}
.seclast span{
    font-size: 2px;
}
.last {
    margin-top: 8px;
}